@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600&display=swap');

$myFont: 'Poppins', sans-serif;
$brightPurple: #473BF0;
$brightPurpleOpacity: #473BF052;
$lila: #6665DD;
$lavanda: #9B9ECE;
$black: #13262F;
$grey: #ACADBC;
$white: white;
$lightLavanda: #b5b8ea;
$gradientRegular: linear-gradient(331deg, rgba(102,101,221,1) 0%, rgba(71,59,240,1) 100%);
$gradientInverted: linear-gradient(-331deg, rgba(102,101,221,1) 0%, rgba(71,59,240,1) 100%);


*{
    margin: 0;
    padding: 0;
    font-family: $myFont;
}

p{
    margin: 0;
}

a{
    color: $lila;
        &:hover{
            color: $brightPurple;
            text-decoration: underline;    
        }
}

/* MENU */
@import "navbar.scss";

/* HOME */
@import "home.scss";

/* FOOTER */
@import "footer.scss";

/* -------------------------------PAGINA PROPIEDADES ------------------------------------ */
.tarjetaSingular{
    margin-bottom: 1rem !important;
    margin-top: 1rem !important;
}

.abajoCard{
    background-color: $lightLavanda;
    border-radius: 0 0 0.5rem 0.5rem;
    color: $white !important; 
}

.foto{
    border-radius: 0.5rem 0.5rem 0 0;  
}

.namePropiedad{
    text-decoration: underline;
    color: $white;
    margin-bottom: 0.5rem;
}

.pricePropiedad{
    font-weight: 400;  
    line-height: 1rem;  
}

.detailsPropiedad{
    font-weight: 300;
}

.rating{
    font-size: 12pt;
    display: inline;
    margin-bottom: 0.5rem;
}

.ratingStars{
    width: 1rem;
    height: auto;
    display: inline;
    margin-bottom: 0.5rem;
}

.filtroGrande{
    font-weight: 300; 
    font-size: 16pt; 
    color:#473BF0;
    margin-left: 2rem;
    margin-top: 1rem;  
}

.filtros{
    font-weight:800;
    color: $black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-top: 1rem;
    margin-left: 2rem;
}


.iconoDetalles{
    width: 1.5rem;
}

.textoFiltros{
    font-weight: 400;
    color: $black;
    margin-right: 0.5rem;
}

.inputFiltro{
    font-weight: 300;
    text-align: center;
    margin-left: 0rem;
    margin-right: 3rem;
    width: 2rem;
} 

.botonCargarMas{
    grid-row-start: 29;
    grid-row-end: 30;
    grid-column-start: 5;
    grid-column-end: 8;
    font-weight: 400;
    font-size: 16px;
    background: $gradientRegular;
    color: $white;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    border-radius: 5rem;
        &:hover{
            box-shadow: 3px 2px 10px $brightPurpleOpacity;
            background: $gradientInverted;
        }
}

/* -------------------------------PAGINA CONTACTO ------------------------------------ */
.textoIntro{
    font-weight: 300; 
    font-size: 16pt; 
    /*text-align: center; */
    color: #473BF0; 
    margin-left: 2rem;
}

.introForm{
    font-weight: 300; 
    color:$black;
    margin-top: 1rem;
    margin-left: 2rem;
    margin-bottom: 1rem;

}

.form-group{
    font-size: 12pt;
    font-weight: 300;
    margin-left: 2rem; 
    margin-right: 2rem;   
}

.form-control{
    border-color: $lila;
        &:hover{
            color: $brightPurple;
        }
}

.botonSubmit{
    margin-left: 2rem;
}


/* -------------------------------PAGINA FAQ ------------------------------------ */
/* Search */

.form-inline{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 2rem;
    margin-bottom: 2rem;
}

.form-control{
    border-color: $lavanda;
}

.btn-outline-success{
    color: #ffffff;
    background-color: $lila;
    border-style: none;
        &:hover{
            color: #ffffff;
            background-color:#473BF0;
        }
}


/* accordion */

.card{
    background-color: #bdbfea23;
    margin-top: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
    border-style: none;
}

.card-header{
    color: #473BF0;
    background-color: #bdbfeabd;
}

.btn-link{
    color: #473BF0;
    text-decoration: none;
}

.card-body{
    font-weight: 300;
    color: $black;    
}

.btn-link{
    color:#473BF0;
}



